<div class="media my-4 comment {{comment.comment_type}}" id="comment-{{comment.ID}}">
	<img class="d-flex mr-3 rounded-circle" src="{{ comment.author.avatar.src }}" alt="{{ comment.author.name }}">
	<div class="media-body">
		<h5 class="mt-0">{{ comment.author.name }}</h5>
		{{comment.comment_content|wpautop}}
		{% if post.comment_status != "closed" %}
			<div>
				{{ comment.reply_link }}			</div>
			{% endif %}
			{% if comment.children %}
			{% for cmt in comment.children %}
			{% include '@organisms/comments/comment.twig' with {comment:cmt} %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
